<div>
    <div id="home-spacer"></div>
    <div id="home-first-row" class="row">
        <div class="container">
            <div class="col-md-8">
                <div id="home-welcome-div">
                    <h1 id="home-welcome-h1">Welcome to <span id="home-app-name">Social App</span></h1>
                    <p id="home-welcome-p">Connect with friends and the world around you on Social App.</p>
                    <div class="input-group" id="home-auth-buttons-div">
                        <button type="button" ui-sref="home.login" id="home-login-button">Log In</button>
                        <button type="button" ui-sref="home.signup" id="home-signin-button">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ui-view>

            </div>
        </div>     
    </div>
    <div class="row">

    </div>       
</div>


